@font-face {
  font-family: 'Alibaba';
  font-weight: 400;
  font-style: normal;
  src:  url('./fonts/AlibabaSans/Normal/AlibabaSans-Regular.otf');
}
@font-face {
  font-family: 'Alibaba';
  font-weight: 400;
  font-style: italic;
  src:  url('./fonts/AlibabaSans/Italics/AlibabaSans-Italic.otf');
}
